<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrust</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div class="conteiner">
        <div class="logo">
            <p><img src="../static/img/entrust.png" alt="This is Logo" width="215px" height="130px"></p>
        </div>

        <div class="right_side">
            <div class="photo">
                <p><img src="../static/img/office-workeк.jpg" alt="" width="300px" height="230px"></p>
            </div>
            <div class="view_3"> 
                <h2>Download now</h2>

                <h5>First name</h5>
                <p id="first_name"><input type="text" value=""></p>

                <h5>Last name</h5>
                <p id="last_name"><input type="text" value=""></p>

                <h5>Gmail</h5>
                <p id="mail"><input type="email" value=""></p>

                <h5>Password</h5>
                <p id="pass"><input type="password" name="" id=""></p>

                <h5>Please agree to the terms</h5>
                <p id="check"><input type="checkbox"></p>

                <p id="sub"><input type="submit"></p>
            </div>
        </div>

        <div class="word">
            <div class="heading">
                <h1>SECURING YOUR BRAND  <br> AND
                    YOUR REPUTATION</h1>
                <br>
                <h3>A straightforward guide to understanding TLS/SSL <br> certificates</h3>
            </div>
            <div class="view">
                <div class="view_2">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Quas voluptatem nemo dolores reprehenderit adipisci expedita in,<br> sunt 
                        quisquam  culpa explicabo, exercitationem quos voluptatibus laboriosam incidunt, repudiandae
                         vitae ullam nam cumque. <br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Commodi magni vel incidunt culpa, 
                        animi eos perferendis ipsum iure consectetur ducimus minus aperiam, 
                        fugiat <br> possimus tempore aliquam quasi illum rem voluptatem.</p> 
                    <h4>Topics inclulde:</h4>

                    <ul>
                        <li>What are TLS/SSl certificates</li>
                        <br>
                        <li>Why are TLS/SSl certificates so important?</li>
                        <br>
                        <li>How do TLS/SSL certificates work?</li>
                        <br>
                        <li>Various types of certificates</li>
                        <br>
                        <li>Tips for choosing and aquiring certificates</li>
                    </ul>

                    <h4>To download the free book complete the form on the right.</h4>

                    <p id="rules"><a href=""> &copy;2022 Entrust comparation all rights Servise | Contact | Use</a></p>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>